h2{
   color:#cb21ed;
}

#show_button{
    background-color: #cb21ed;  
    height: 2.5em;
    width: 4.70em;
    border-radius:10px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-top:  1.25em;
    margin-left: 7.81em;
}

h2{
    display:flex;
    align-self: center;
}

main{
    display: flex;
    justify-content: center;
    height: 80%;

}

.fun_facts{
    background-color:#312948 ;
    margin-left: 2.5em;
    padding: 1.25em;
    width: 60%;
    border: 1px solid red;
    
}

.questions{
    background-color:#312948 ;
    margin-left: 2.5em;
    width: 25em;
    padding: 1.25em; 
    max-width: 33.82em;
    border: 1px solid red
}

.question_text{
    color: #312948;
    padding: 1.25em;
    min-height: fit-content;
    background-color: #e5e5e5;
    border-radius:10px;
}

.answers{
    background-color:#312948 ;
    width: 100%;
    /* min-width: 200px; */
    padding: 2.5em;
    min-width:fit-content;
}

.true_answer{
    background-color: #e5e5e5;
    text-align: center;
    border-radius:10px;
}

.false_answer{
    background-color: #e5e5e5;
    text-align: center;
    border-radius:10px;
}


