h2{
   color:#cb21ed;
}

#show_button{
    background-color: #cb21ed;  
    height: 2.5em;
    width: 4.70em;
    border-radius:10px;
    display: flex;
    
}

h2{
    display:flex;
    align-self: center;
}

main{
    display: flex;
    justify-content: center;
    height: 80%;

}

.fun_facts{
    background-color:#312948 ;
    margin-left: 2.5em;
    width: 30%;
    padding: 1.25em;
    border: 1px solid red
}

.questions{
    background-color:#312948 ;
    margin-left: 2.5em;
    width: 25em;
    padding: 1.25em; 
    max-width: 33.82em;
    border: 1px solid red
}

.question_text{
    color: greenyellow;
    min-height: fit-content;
}



