h2{
   color:#cb21ed;
   margin-bottom: 8em;
}

#show_button{
    background-color: #cb21ed;  
    height: 2.5em;
    width: 4.70em;
    border-radius:10px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-top:  1.25em;
    margin-left: 7.81em;
    margin-left: 12.5em;
}

h2{
    display:flex;
    align-self: center;
}

main{
    display: flex;
    justify-content: center;
    height: 80%;

}

.fun_facts{
    background-color:#312948 ;
    margin-left: 2.5em;
    padding: 1.25em;
    width: 50%;
    border-radius:10px;
    border: 1px solid red;
    
}
#fun-fact-text{
    background-color:#312948 ;
    padding: 1.25em; 
    margin: 2.5em;
    border: 1px solid #FF1FE9;
    border-radius:10px;
    display: flex;
    align-items: center;
    color:#e5e5e5;
}

.questions{
    background-color:#312948 ;
    margin-left: 2.5em;
    width: 50%;
    padding: 1.25em;
    border-radius:10px; 
    border: 1px solid red
}

#question-text{
    color: #312948;
    padding: 1.25em;
    min-height: fit-content;
    background-color: #e5e5e5;
    border-radius:10px;
    width: 100%;
}

.answers{
    background-color:#312948 ;
    width: 100%;
    padding: 2.5em;
    min-width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers button{
    width: 100%;
    height: 2.5em;
}

#true-answer{
    background-color: #e5e5e5;
    text-align: center;
    border-radius:10px;
    margin-bottom: 1.87em;
}

#false-answer{
    background-color: #e5e5e5;
    text-align: center;
    border-radius:10px;
}


